<?xml version="1.0" encoding="UTF-8"?>

<config>
	<categories>
		<category name="cat1">
			<subcategory thumbnailPath="data/thumbnailPath/eco.jpg" name="subcat11" description="desc1">
				<picture path="data/e/e2.jpg" />
				<picture path="data/e/e1.jpg" />
			</subcategory>
			
			<subcategory thumbnailPath="data/thumbnailPath/eco.jpg" name="subcat12" description="desc2">
				<picture path="data/e/e2.jpg" />
				<picture path="data/e/e1.jpg" />
			</subcategory>
		</category>
		
		<category name="cat2">
			<subcategory thumbnailPath="data/thumbnailPath/eco.jpg" name="subcat11" description="desc1">
				<picture path="data/e/e2.jpg" />
				<picture path="data/e/e1.jpg" />
			</subcategory>
			
			<subcategory thumbnailPath="data/thumbnailPath/eco.jpg" name="subcat12" description="desc2">
				<picture path="data/e/e2.jpg" />
				<picture path="data/e/e1.jpg" />
			</subcategory>
		</category>
	</categories>
	
	<wallpapers>
		<picture path="data/e/e2.jpg" />
		<picture path="data/e/e1.jpg" />
		<picture path="data/e/e2.jpg" />
		<picture path="data/e/e1.jpg" />
	</wallpapers>
</config>