<config>
	<menu>
		<entry type="parent" label="gallery">
			<subentry type="category" label="cars" />
			<subentry type="category" label="sky" />
			<subentry type="category" label="nude" />
			<subentry type="category" label="animals" />
			<subentry type="category" label="people" />
		</entry>
		<entry type="parent" label="info">
			<subentry type="page" label="about">
				<content>
					<!-- taguri de formatare??? -->
					Salut,
					Ma numesc Marius Stoianov si voi fi gazda dumneavoastra in aceasta seara.
				</content>
			</subentry>
			<subentry type="page" label="contact">
				<content>
					id de mess: cyklonb21
				</content>
			</subentry>
			<subentry type="page" label="prieteni">
				<content>
					gigel costica
				</content>
			</subentry>
		</entry>
		<entry type="link" label="blog" url="http://prinochiimei.wordpress.com" />
	</menu>
	
	<categories>
		<category label="cars" coverPic="???" descriptions="my photos with cars">
			<subcategory label="nice cars" coverPic="pic001.jpeg" descriptions="these are a bunch of nice cars">
				<pic name="a nice car" description="guess what?? this is a nice car" url="nice_car01.jpeg"/>
				<pic name="another nice car" description="guess what?? this is another nice car" url="nice_car02.jpeg"/>
			</subcategory>
		</category>
	</categories>
</config>