<config>

	<slideshow effect="???" pics="dog.jpg|cersetor.jpg|peisaj.jpg" />
	
	<menu>
		<item name="portofolio" title="this is my portofolio" page="portofolioPage"/>
		<item name="info" title="about me" page="infoPage"/>
	</menu>
	
	<pages>
		<page id="portofolioPage" name="portofolio" contentType="static" contentId="hcPortofolio" />
		<page id="infoPage" name="info" contentType="dynamic">
			<text>
			<!-- how about describing the look and feel??? -->
				My name is Gigi, I am a photographer.
			</text>
		</page>
	</pages>

	<!-- too many pics would make this file big
		 could have a xml for each category and point to it from here
		 on the other hand, this would require many server requests -->
	<categories>
		<category name="street" description="pictures on the street">
			<pic name="dog barking" description="bla bla" filename="dog.jpg"/>
			<pic name="begger warming up" filename="cersetor.jpg">
				This is a picture I bla bla bla....
			</pic>
		</category>
	</categories>
</config>